body {
  background-color: #556943;
  text-align: center;
}

.header {
  border-style: solid;
}

.woodl {
  float: left;
  width: 300px;
  height: 1200px;
  overflow: auto;
}

.woodr {
  float: right;
  width: 300px;
  height: 1200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #b2a691;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
